<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>{{title}}</title>
</head>

<body>

    <div id="page-content">

        {{#if error}}
        <div class="error-box">
            <p>{{error}}</p>
        </div>
        {{/if}}

        <header>
            <a href="/" class="title-logo">
                <img src="/static/assets/logo.png">
                <span>Auction House</span>
            </a>
            <nav class="main-nav nav-mid">
                <ul>

                    <li>
                        <a href="/products/">Browse</a>
                    </li>
                    {{#if user}}
                    <!-- User actions -->
                    <li class="user">
                        <a href="/products/create">Publish</a>
                    </li>

                    <li class="user">
                        <a href="/auth/closed">Closed Auctions</a>
                    </li>

                    <li class="user">
                        <a href="/auth/logout">Logout</a>
                    </li>

                    <!-- Bonus action -->
                    
                    
                    
                    {{else}}
                    <!-- Guest actions -->
                    <li class="guest">
                        <a href="/auth/register">Register</a>
                    </li>
                    <li class="guest">
                        <a href="/auth/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </header>
        {{{body}}}

        <footer>SoftUni &copy; 2022 | Design by Viktor Kostadinov</footer>
    </div>

</body>

</html>